# Auto detect text files and perform LF normalization
* text=auto

# Archivos de ArcGIS de más de 100MB (Git LFS)
Unity/SmartCampus_URP/Packages/com.esri.arcgis-maps-sdk/Binaries/Android/x64/libruntimecore.so filter=lfs diff=lfs merge=lfs -text
Unity/SmartCampus_URP/Packages/com.esri.arcgis-maps-sdk/Binaries/iOS/Runtimecore.xcframework/ios-arm64_x86_64-simulator/Runtimecore.framework/Runtimecore filter=lfs diff=lfs merge=lfs -text
Unity/SmartCampus_URP/Packages/com.esri.arcgis-maps-sdk/Binaries/Linux/x64/libruntimecore.so filter=lfs diff=lfs merge=lfs -text
Unity/SmartCampus_URP/Packages/com.esri.arcgis-maps-sdk/Binaries/macOS/libruntimecore.dylib filter=lfs diff=lfs merge=lfs -text
Unity/SmartCampus_URP/Packages/com.esri.arcgis-maps-sdk/Binaries/Windows/arm64/runtimecore.dll filter=lfs diff=lfs merge=lfs -text
Unity/SmartCampus_URP/Packages/com.esri.arcgis-maps-sdk/Binaries/Windows/x64/runtimecore.dll filter=lfs diff=lfs merge=lfs -text
Unity/SmartCampus_URP/Packages/com.esri.arcgis-maps-sdk/Binaries/xrOS/Runtimecore.xcframework/xros-arm64_x86_64-simulator/Runtimecore.framework/Runtimecore filter=lfs diff=lfs merge=lfs -text
Unity/SmartCampus_URP/Packages/com.esri.arcgis-maps-sdk/Binaries/** filter=lfs diff=lfs merge=lfs -text
